/* variables */
:root {
  --navBarColor: #ff8e3c;
  --navBarHighlightColor: #abd1c6;
  --navBarTextColor: #fffffe;
  --navBarTextColorHover: #ef4565;
  --bgLightGrey:#f5f5f5;
}

/* Body Css Set */
body {
  margin: 0;
  padding: 0;
  font-family: 'Jura', 'Anton', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  max-width: 100%;
  max-height: 100%;
}

/* Typography CSS / Set margin 0 */
h1, h2, h3 , h4, h5, h6 {
  font-family: 'Anton', sans-serif;
  margin: 0;  
}
a, p {
  font-family: 'Jura', sans-serif;
  margin: 0;
}

/* Navigation bar */
.customNavBar{
  position: fixed;
  width: 100%;  
  z-index: 10;
  padding: 10px 25px 10px 25px;
  background-color:var(--navBarColor) !important;  
  }
  .customNavBar a {
    color:var(--navBarTextColor) !important;
  }
  .customNavBar a:hover{
    color:var(--navBarTextColor) !important;
  }

/* Hero bar */
header.masthead {
  position: relative;
  width: 100%;
  top: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:var(--bgLightGrey) !important;
}
.rowAlignVert {
  align-items: center;
}
.heroImage {
  float:right;
}
.customJumbotron {
  background-color: transparent !important;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 575.98px) { 
  .heroImage {
    float:left;
  }
}