/* variables */
:root {
  --navBarColor: #ff8e3c;
  --navBarHighlightColor: #abd1c6;
  --navBarTextColor: #fffffe;
  --navBarTextColorHover: #ef4565;
  --bgLightGrey:#f5f5f5;
  --txtColorMediumGrey:#959595;
}

/* Body Css Set */
body {
  margin: 0;
  padding: 0;
  font-family: 'Jura', 'Anton', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  max-width: 100%;
  max-height: 100%;
}

/* Typography CSS / Set margin 0 */
h1, h2, h3 , h4, h5, h6 {
  font-family: 'Jura', sans-serif;
  margin: 0;
}
a, p {
  font-family: 'Jura', sans-serif;
  margin: 0;
}

/* Navigation bar */
.customNavBar{
  position: fixed;
  width: 100%;  
  z-index: 10;
  padding: 10px 25px 10px 25px;
  background-color:var(--navBarColor) !important;  
  }
  .customNavBar a {
    color:var(--navBarTextColor) !important;
  }
  .customNavBar a:hover{
    color:var(--navBarTextColor) !important;
  }

/* Hero section */
.hero {
  position: relative;
  padding: 50px 0;  
}
.rowAlignVert {
  align-items: center;
}
.rowAlignHor {
  justify-items: center;
  justify-content: center;
  padding: 80px 50px 50px 50px;   
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:var(--bgLightGrey) !important;
}
.heroImage {
  float:right;
}
.customJumbotron {
  background-color: transparent !important;
}

/* Projects section */
.projects {
  position: relative;
  /* padding: 50px 0; */
  padding: 100px 0px 150px 0px;
  background-color: transparent !important;
}

/* Skills section */
.skills {
  position: relative;
  padding: 50px 0;
  /* background-color: var(--bgLightGrey) !important; */
}
.skillsBar{
  width: 100%; 
}
.skillsBar h2{
font-weight: 400;
letter-spacing: 1px;
margin-top: 40px;
margin-bottom: 5px;
color:var(--txtColorMediumGrey) !important;
font-size: 16px;
}
.skillProgressBar{
background:var(--txtColorMediumGrey) !important;
width: 100%;
height: 5px;
border-radius: 3px;
}
.skillProgressBar div{
  height: 5px;
  border-radius: 3px;
  width: 0%;
  background: var(--navBarColor) !important;
}
.skillProgressBar div span{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background:var(--navBarTextColor) !important;
  float: right;
  margin-top: -15px;
  margin-bottom: -20px;
  color:var(--navBarColor) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid  var(--navBarColor) !important;
}

/* Software skills animation*/
.skillHTML {
  animation: skillHTML 1s linear forwards;
}
.skillCSS {
  animation: skillCSS 1s linear forwards;
}
.skillJavaScript {
  animation: skillJavaScript 1s linear forwards;
}
.skillVBA {
  animation: skillVBA 1s linear forwards;
}
.skillT-SQL {
  animation: skillT-SQL 1s linear forwards;
}

/* Language skills animation*/
.skillPT {
  animation: skillPT 1s linear forwards;
}
.skillEN {
  animation: skillEN 1s linear forwards;
}
.skillES {
  animation: skillES 1s linear forwards;
}

/* Footer / Contact section */
.contacts {
  position: relative;
  padding: 50px 0;
  /* background-color: var(--bgLightGrey) !important; */
}

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}






/* Software skills keyframes*/
@keyframes skillHTML{
  100%{
    width: 80%;
  }
}
@keyframes skillCSS{
  100%{
    width: 65%;
  }
}
@keyframes skillJavaScript{
  100%{
    width: 50%;
  }
}
@keyframes skillVBA{
  100%{
    width: 70%;
  }
}
@keyframes skillT-SQL{
  100%{
    width: 85%;
  }
}
/* Language skills keyframes */
@keyframes skillPT{
  100%{
    width: 100%;
  }
}
@keyframes skillEN{
  100%{
    width: 85%;
  }
}
@keyframes skillES{
  100%{
    width: 35%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 575.98px) { 
  .heroImage {
    float:left;
    padding: 50px 0px 0px 0px;
  }
  .customJumbotron {
    padding: 0px 0px 0px 0px;
  }
}